<!DOCTYPE html>

<html lang="zxx"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<%- include css2.ejs %>

</head>
<body>

<div class="body">

    <%- include donater1nav.ejs %>

<div class="page_header">
	<div class="container">
		<div class="row">
		<div class="col-sm-6">
			<p>Change a Child's World</p>
			<h4>About Us</h4>
		</div>
		
		<div class="col-sm-6">
			<ul class="bcrumbs">
				<li><a href="/">Home</a></li>
				<li><span>About Us</span></li>
			</ul>
		</div>
		</div>
	</div>
</div>

	
<div class="why-choose-us bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="item text-center">
					<img class="thumb" src="./images/about/1.png" alt="">
					<div class="icon">
						<img class="layer" src="./images/about/1_1.png" alt="">
					</div>
					<h3>DONATION</h3>
					<p>Donec vitae augue nisl. Praesent metus odio,<br>semper nec laoreet eget.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item text-center">
				<img class="thumb" src="./images/about/2.png" alt="">
				<div class="icon">
					<img class="layer" src="./images/about/2_1.png" alt="">
				</div>
				<h3>VOLUNTEERS</h3>
				<p>Donec vitae augue nisl. Praesent metus odio,<br>semper nec laoreet eget.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item text-center">
				<img class="thumb" src="./images/about/3.png" alt="">
				<div class="icon">
					<img class="layer" src="./images/about/3_1.png" alt="">
				</div>
				<h3>FUNDRAISE</h3>
				<p>Donec vitae augue nisl. Praesent metus odio,<br>semper nec laoreet eget.</p>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h5>Why People Choose Us</h5>
					<p>One of the most popular charitable projects</p>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="item">
								<div class="icon">
									<img src="1(1).png" alt="">
								</div>
								<div class="f-inner">
									<h4>Charity Networt</h4>
									<p>The first $25,000 we raise will go<br>100% to the Donation.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="icon">
									<img src="2(1).png" alt="">
								</div>
								<div class="f-inner">
									<h4>Solve Problems</h4>
									<p>Get your questions answered by<br>our staff, fellow users</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="item">
								<div class="icon">
									<img src="3.png" alt="">
								</div>
								<div class="f-inner">
									<h4>Kids EDUCATION</h4>
									<p>16,000 students and professionals<br>from the global Word</p>
								</div>
							</div>
							
							<div class="item">
								<div class="icon">
									<img src="4.png" alt="">
								</div>
								<div class="f-inner">
									<h4>Healping Hand</h4>
									<p>300 moderated sessions. 450 hours<br>of technical training</p>
								</div>
							</div>
						</div>							
					</div>
				</div>
			
				<div class="col-sm-4">
					<img src="girl3.png" alt="">
				</div>
			</div>
		</div>
	</div>


<%- include footer.ejs %>


<%- include js2.ejs %>

   </body></html>