<div class="top-section bg-red2">
	<div class="row no-margin">
		<div class="col-sm-4 no-padding bg-green">
			<div>
				
				<div class="top-inner">
					<h4>Become Volunteer :)</h4>
					<p>Our support creates self-substaining, communities</p>
					<a href="/volunteer" class="btn btn-xs btn-dark">Join Us</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 no-padding bg-primary" >
			<div style="padding: 0" >
				
				<div class="top-inner">
					<h4>DONATER</h4>
					<p>Don't Have any Account? Register<br>
						If You Have an Account? Login</p>
				
				</div>
				<div class="btn-group">
					<a href="/register"><button style="width:110px">Register</button></a>
					<a href="/login"><button style="width:110px">Login</button></a>
				
				  </div>
				
			</div>
		</div>
		<div class="col-sm-4 no-padding bg-red">
			<div style="padding: 0;" >
				
				<div class="top-inner">
					<h4>NGO</h4>
					<p>Don't Have any Account? Register<br>
						If You Have an Account? Login</p>
				
				
				</div>
				<div class="btn-group">
					<a href="/ngo-register"><button style="width:110px">Register</button></a>
					<a href="/ngo-login"><button style="width:110px">Login</button></a>
				
				  </div>
			</div>
		
		</div>
		<a >
			<div class="top-progress hidden-xs hidden-sm">
				<div class="progress-circle-2 svg-container"></div>
				<span style="font-size: 15px;">FreeFOOD</span>
				<h6>Donate Now</h6>
			</div>
		</a>
	</div>
</div>
