<!DOCTYPE html>

<html lang="zxx"><head>

	<%- include css2.ejs %>



<body>

<div class="body">

    <%- include donater1nav.ejs %>
<div class="page_header">
	<div class="container">
		<div class="row">
		<div class="col-sm-6">
			<p>Change a Child's World</p>
			<h4>Contact Us</h4>
		</div>
		
		<div class="col-sm-6">
			<ul class="bcrumbs">
				<li><a href="/">Home</a></li>
				<li><span>Contact Us</span></li>
			</ul>
		</div>
		</div>
	</div>
</div>


<div class="inner-content">
<div class="container">

<div class="contact-info row gap-30">
	<div class="col-sm-4 col-md-3 gap-20">
		<h4>Phone No</h4>
		<p>+91 987-01 03 <span>-</span>(123) 123-45 67</p>
	</div>

	<div class="col-sm-4 col-md-5 gap-20">
		<h4>Email Address</h4>
		<p>foodforall@gmail.com <span>-</span> food@domain.com</p>
	</div>

	<div class="col-sm-4 gap-20">
		<h4>Location</h4>
		<p>jansla,Punjab</p>
	</div>
	
</div>



<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
<div class="contact-form">

<div class="custom heading text-center gap-20">
			<h2>Do you have any Questions</h2>
			<p>Change a child's world</p>
			<img src="./contact_files/sep.png" class="center-block" alt="">
		</div>
		
	
	<form action="/contact2" method="post">
		<input type="text" placeholder="Full Name" name="name" required>
		<input type="email" placeholder="Email Address" name="email" required>
		<input type="text" placeholder="Subject" name="subject" required>
		<textarea placeholder="Your Message" name="message" required></textarea>
		<center><button type="submit" class="btn">Send Message</button></center>
	</form>
</div>
</div>	
   
   
</div>
</div>
<%- include footer.ejs %>
<script src="https://unpkg.com/notie"></script>
<script>
	function perform(){
		notie.alert({ type: 'success', text: 'Successfully Submited Your Respponse!', time: 2 })
	  }
	
</script>
<% if(locals.alert=="1") {%>
<script>
perform();
</script>
	<% } %>

	<%- include js2.ejs %>

     
   </body></html>