	<!--================ Start footer Area  =================-->	
	<footer>
      <div class="footer-area" style="background-color: grey;padding-top:35px">
          <div class="container">
              <div class="row section_gap">
                  <div class="col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-widget tp_widgets">
                          <h3 class="footer_title large_title">Our Mission</h3>
                          <br><br>
                          <p style="color:white">
                                  No Food Waste is a mission to end food waste and hunger to make the “World Hunger Free”. We recover surplus food from weddings, parties and functions and donate it to needy and hungry people.
                          </p>
                      
                      </div>
                  </div>
                  <div class="offset-lg-1 col-lg-4 col-md-4 col-sm-6" style="color:white">
                      <div class="single-footer-widget tp_widgets">
                          <h3 class="footer_title">Quick Links</h3>
                          
                          <ul class="list" >
                              <li><a href="/" style="color:white">Home</a></li>
                              <li><a href="/about" style="color:white">About</a></li>
                              <li><a href="/contact" style="color:white">Contact</a></li>
                              <li><a href="/event1" style="color:white">Event</a></li>
                              <li><a href="/cause" style="color:white">Cause</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                      
                  </div>
                  <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6" style="color:white">
                      <div class="single-footer-widget tp_widgets">
                          <h3 class="footer_title">Contact Us</h3>
                          <br><br>
                          <div class="ml-40">
                              <p class="sm-head">
                                  <span class="fa fa-location-arrow"></span>
                                   Office
                              </p>
                              <p>Chitkara University </p>
  
                              <p class="sm-head">
                                  <span class="fa fa-phone"></span>
                                  Phone Number
                              </p>
                              <p>
                                 +91 87017133<br>
                                 
                              </p>
  
                              <p class="sm-head">
                                  <span class="fa fa-envelope"></span>
                                  Email
                              </p>
                              <p>
                                  foodforall@gmail.com <br>
                             
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    
  </footer>
 